<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Byte Bot</title>
    <link rel="stylesheet" href="static/assets//bootstrap/css/bootstrap.min.css?h=b51edbf5aaacf3a33f4886af8be2bcff">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content"></div>
            <footer class="bg-white sticky-footer">
                <div class="container-fluid">
                    <h3 class="text-dark mb-1">Byte Bot</h3>




                    <iframe width="1400" height="650" frameBorder="0" allow="microphone;" src="https://console.dialogflow.com/api-client/demo/embedded/8e570dc4-b3a6-4593-89c6-e459df451d28"></iframe>

                </div>
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="static/assets//js/script.min.js?h=9af5f655239f5ce4fa692ca1c1513d50"></script>
</body>

</html>
