<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS=false; L_NO_TOUCH=false; L_DISABLE_3D=false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
    <meta name="viewport" content="width=device-width,
        initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style>#map_fa42f167880e4b728011f319d6fad5f4 {
        position: relative;
        width: 100.0%;
        height: 100.0%;
        left: 0.0%;
        top: 0.0%;
        }
    </style>
</head>
<body>    
    
    <div class="folium-map" id="map_fa42f167880e4b728011f319d6fad5f4" ></div>
</body>
<script>    
    
    
        var bounds = null;
    

    var map_fa42f167880e4b728011f319d6fad5f4 = L.map(
        'map_fa42f167880e4b728011f319d6fad5f4', {
        center: [13.148, 77.611],
        zoom: 14,
        maxBounds: bounds,
        layers: [],
        worldCopyJump: false,
        crs: L.CRS.EPSG3857,
        zoomControl: true,
        });


    
    var tile_layer_9008606826484c40a77ba0fb4e667434 = L.tileLayer(
        'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        {
        "attribution": null, 
        "detectRetina": false, 
        "maxNativeZoom": 18, 
        "maxZoom": 18, 
        "minZoom": 0, 
        "noWrap": false, 
        "opacity": 1, 
        "subdomains": "abc", 
        "tms": false
}).addTo(map_fa42f167880e4b728011f319d6fad5f4);
    
        var marker_0662cfd8dbec4e6384b7b1a50296e6ff = L.marker(
            [13.148, 77.611],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fa42f167880e4b728011f319d6fad5f4);
        
    
            var popup_0348772d540d4b30b7917a060a2a5579 = L.popup({maxWidth: '100%'
            
            });

            
                var html_3a19afa86b79435ab5aa3f2c75bae68f = $(`<div id="html_3a19afa86b79435ab5aa3f2c75bae68f" style="width: 100.0%; height: 100.0%;">Yelahanka Bangalore Urban Karnataka</div>`)[0];
                popup_0348772d540d4b30b7917a060a2a5579.setContent(html_3a19afa86b79435ab5aa3f2c75bae68f);
            

            marker_0662cfd8dbec4e6384b7b1a50296e6ff.bindPopup(popup_0348772d540d4b30b7917a060a2a5579)
            ;

            
        
    
        marker_0662cfd8dbec4e6384b7b1a50296e6ff.bindTooltip(
            `<div>`
            + `Danger Khatra !` + `</div>`,
            {"sticky": true}
        );
        
</script>